
    <div class="image"><div class="container">
  <img src="images/beach.png" alt="Serenity Pointe" style="width:100%;">
  <div class="centered">About us</div>
</div></div>


    
    <div align="center" class="content_1">
<div align="left" class=child>
<center> <h1>Our Staff</h1> </center>
<Font size="5rem">
Our program treats patients aged 18 and older in both residential and outpatient settings. Our staff is specially trained in the Foundations Recovery Network treatment model to address the complex needs of individuals with co-occurring disorders and to treat the whole person in a comprehensive way.

We support patients with an integrated, multi-disciplinary team. Primary therapists, consulting physicians, residential therapists, nurses, group leaders and others are all part of a patient’s treatment team.</font>  
</div>
<div align="left" class="child">
<center><h1>Our Treatment</h1></center>
  <font size="5rem">  Each structured weekly program includes:
  <ol>
    <li>Individual psychotherapy</li>
    <li>Primary therapy groups</li>
    <li>Dialectical Behavior Therapy</li>
    <li>Structured metaphor/experiential groups</li>
    <li>Expressive arts therapy</li>
    <li>Dual Diagnosis groups</li>
    <li>Medication groups</li>
    <li>Relapse prevention groups</li>
    <li>Trauma therapy</li>
    <li>12-Step meetings – DDRA, CoDA, AA, NA, OA</li>
    <li>Co-dependency groups</li>
    <li>Adventure experiences</li>
    </font>
    </ol>
    </div>
<div align="left" class="child">
<center><h1>Dual Diagnosis</h1></center>
<Font size="5rem">
Mental disorders and addiction often go hand in hand. According to the National Institute on Drug Abuse (NIDA), people who are diagnosed with a mood or anxiety disorder are twice as likely to struggle with addiction.

Unfortunately, people who have both mental illnesses and addiction tend to slip through the cracks of the modern medical world, and they may not get the help they need. They may see their doctors for their medical condition and see addiction counselors for their addiction. Until the two forms of therapy are united, however, the person is unlikely to see any real relief.</font>
</div>
    </div>

