        <script src="/js/admin_login.js"></script>
        
        <link rel="stylesheet" type="text/css" href="css/apply.css">
<div class="grid">
<div class="image"><div class="container">
  <img src="images/beach.png" alt="Serenity Pointe" style="width:100%;">
  <div class="centered">Admin Page</div>
</div></div>

<!--
<div class="content_1" align="center">
    <form method="post" action="/admin_main_page">
        <div class="admin_login">
            <input type="text" name="username" id="username" placeholder="Username"><br><br>
            <input type="password" name="password" id="password" placeholder="password"><br><br>
            <button class="apply_btn">Login</button>
        </div>
    </form>
</div>-->

<div class="apply-form">
    <div class="app-header">
    <h1>Admin Login</h1>
    </div>
    <form method="post" action="/admin_main_page">
        <input type="text" name="username" id="username" placeholder="Username"><br><br>
        <input type="password" name="password" id="password" placeholder="password"><br><br>
        <button class="apply_btn">Login</button>
    </form>
</div>

