<link rel="stylesheet" type="text/css" href="css/apply.css">
<div class="image"><div class="container">
  <img src="images/beach.png" alt="Serenity Pointe" style="width:100%;">
  <div class="centered">Apply Today</div>
</div></div>


  <div class="apply-form">
      <div class="app-header">
        <h1>Apply Here</h1>
      </div>
      <form method="post" action="/submitted">
      <label>Name</label>
        <input type="text" placeholder="Name" name="name">
        <label>Birthdate</label>
        <input name="birthdate" type="text" placeholder="mm-dd-yyyy">
        <label>Address</label>
        <input name="address" type="text" placeholder="Street Address" />
        <label>Phone</label>
        <input name="phone" type="text" placeholder="Phone Number" />
        <label>City</label>
        <input name="city" type="text" placeholder="City" />
        <label>State</label>
        <input name="state" type="text" placeholder="State" />
        <label>Zip</label>
        <input name="zip" type="numbers" placeholder="25601" />
        <button type="submit" value="Submit">Submit</button>
      </form>
  </div>

    <%# <div align="center" class="content_1"> <center>   <h2> <font color="#333">Application </font></h2> </center>   
    <form>
      <div class="apply_info">
<table>
  <tr>
    <td>	Name : </td>
    <td><input name="name" type="text" value="Name" /> </td>
  </tr>
  <tr>
    <td>	Birthday : </td>
    <td><input name="name" type="text" value="03/06/2019" /></td>
  </tr>
  <tr>
    <td>Street Address  :</td>
    <td> <input name="name" type="text" value="Street Address" /></td>
  </tr>
  <tr>
    <td>City :</td>
    <td><input name="name" type="text" value="City" /></td>
  </tr>
  <tr>
    <td>  State : </td>
    <td> <input name="name" type="text" value="State" />  </td>
  </tr>
    <tr>
    <td>  Zip Code : </td>
    <td>  <input name="name" type="numbers" value="25601" /> </td>
  </tr>
    <tr>
    <td>  </td>
    <td> 	<button type="submit" value="Submit">Submit</button> <br /> </td>
  </tr>
</table>
  </div>
 
       

    </div>
    %>
<%# <div class="words-container">
      <div class="words">
            <div>
                <div class="box box1">
                    <p>My recovery must come first so that everything
                     I love in life doesn’t have to come last.</p>
                    <h2>Rehabs America</h2>
                </div>
                <div class="bg"></div>
            </div>
             <div>
                <div class="box box2">
                    <p> The goal isn’t to be sober. The goal is to love yourself
                     so much that you don’t need to drink.</p>
                    <h2>Anonymous</h2>
                </div>
                <div class="bg"></div>
            </div>
             <div>
                <div class="box box3">
                    <p>Recovery is an acceptance that your life is in shambles
                     and you have to change.</p>
                    <h2>Jamie Lee Curtis</h2>
                </div>
                <div class="bg"></div>
            </div>
        </div>   
</div> %>

<div class="words">
  <div class="box box1">
      <p>My recovery must come first so that everything
        I love in life doesn’t have to come last.</p>
      <h2>Rehabs America</h2>
  </div>
  <div class="box box2">
      <p> The goal isn’t to be sober. The goal is to love yourself
        so much that you don’t need to drink.</p>
      <h2>Anonymous</h2>
  </div>    
  <div class="box box3">
      <p>Recovery is an acceptance that your life is in shambles
        and you have to change.</p>
      <h2>Jamie Lee Curtis</h2>
  </div>     
</div>   