  <style>
    .e_numbers {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #fae596;
    }
  </style>
  
   <div class="image"><div class="container">
  <img src="images/beach.png" alt="Serenity Pointe" style="width:100%;">
  <div class="centered">Incase of Emergency</div>
</div></div>


<div class="e_numbers">
<ul style="list-style-type:square;">
  <li><h1>HELP4WV 24 hour drug abuse hotline 1-844-435-7498</h1></li>
  <li><h1>National Suicide Prevention hotline 1-800-273-8255</h1></li>
  <li><h1>National Domestic Violence hotline 1-800-799-7233</h1></li>
  <li><h1>Williamson Comprehensive Treatment 1-304-932-0779</h1></li>
  
</ul>
</div>