<head>
<link rel="stylesheet" type="text/css" href="css/video.css">
</head>
<!-- The video -->
<video autoplay muted loop id="myVideo">
  <source src="videos/Road_Life.mp4" type="video/mp4">
</video>

<!-- Optional: some overlay text to describe the video -->
<div class="video_content">
 <center> <h1 class="title">Serenity Pointe</h1>
  <p class="catch_phrase">Hope | Courage | Restoration</p>
  <a href="index"><h2>Enter</h2></a>
</center>
</div>