<html>
    <head>
        <script src="/js/event_page.js"></script>
        <link rel="stylesheet" type="text/css" href="css/event_page.css">
    </head>
    <body>
     <div class="image"><div class="container">
        <img src="images/beach.png" alt="Serenity Pointe" style="width:100%;">
    <div class="centered">Events</div>
    </div>
    </div>
        
    <div class="event-wrapper">    
        <div class="event-container">
    <iframe id="iphone_iframe"src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=425&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=lighthousemingowv%40gmail.com&amp;color=%231B887A&amp;src=en.usa%23holiday%40group.v.calendar.google.com&amp;color=%23125A12&amp;ctz=America%2FNew_York" style="border-width:0" width="315px" height="425" frameborder="0" scrolling="no"></iframe>
        
    <iframe id="other_iframe"src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=425&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=lighthousemingowv%40gmail.com&amp;color=%231B887A&amp;src=en.usa%23holiday%40group.v.calendar.google.com&amp;color=%23125A12&amp;ctz=America%2FNew_York" style="border-width:0" width="560" height="425" frameborder="0" scrolling="no"></iframe>

        </div>
    </div>
<div class="content">
    <div class="event-list">
        <ul>
        <% all_events.each do |event| %>
            <li>
                <div class="li">
                    <p><%=event[0]%></p>
                    <p><%=event[2]%></p>
                </div>
                <div class="p">
                <p><%=event[1]%></p>
                </div>
            </li>
            <% end %>

        </ul>
    </div>
    </div>
    </body>

</html>