
    <link rel="stylesheet" type="text/css" href="css/dashboard.css">
    <div class="image"><div class="container">


    <div class="header-image">
      <div class="moto">
      <img src="images/logo.png">
        <h1>Serenity Pointe<h1>
        <a href="/apply"><button class="apply-btn">Apply Now</button></a>
      </div>
    </div>
    
    </div></div>    
    
    <div class="welcome-header">    
      <h2>Welcome to Serenity Pointe</h2> 
      <p>We are a next step house.</p>
      <a href="about_us"><button>Learn More</button></a>
    </div>

    <div class="latest-video">    
      <h2>Lastest Video</h2> 
      <img width="424" height="250" align="middle" src="images/thumb_nails/aaron.jpg">
      <p>Listen to Aaron's Testomonial</p>
      <a target=_blank href="https://youtu.be/-CFtN2WoFVs"><button>Click Here</button</a>    
    </div>

    <!--<div align="center" class="content">
      <center>  <h2> <font color="#333"> Latest Video </font></h2> </center>
        <img width="224" height="150" align="middle" src="images/thumb_nails/aaron.jpg">
    <p>Listen to Aaron's Testomonial <br>
    about Serenity Pointe and how <br>
    this place has helped him 
    </p>
      <a target=_blank href="https://youtu.be/-CFtN2WoFVs"><font class="btn_box">Click Here </font></a>    
     </div>-->
     <div class="info-container content_2">
      <h2>Info</h2>
      <img align="middle" src="images/front.png">
      <p> We are located at 201 W 2nd Ave, Williamson, WV 25661. We are a non profit organation that also accepts donataions. For info on how to help us</p>
      <a href="sponsor_page"><button>Click Here</button></a> 
    </div>

<!--<div align="center" class="content_2"> 
    <h2> <font color= #333> Info</font></h2> 
    <img width=80% src="images/front.png">
    <br>
    We are located at 201 W 2nd Ave, Williamson, WV 25661. We are a non profit organation that also accepts donataions. 
    For info on how to help us <a href="sponsor_page"> <font class="btn_box"> Click Here </font></a> 
</div>-->



