<html>
    <head>
        <script src="/js/landing_page.js"></script>
        <link rel="stylesheet" type="text/css" href="css/landing_page.css">
    </head>
    <body>
        <form method="post" action='/'>
        </form>
            <div class="nav">
                <a href='/home'></a>
                <a href='/testimonial'></a>
                <a href='/contact_us'></a>
                <a href=></a>
                <a href=></a>
                <a href=></a>
            </div>​

    </body>
</html>    