    <div class="image"><div class="container">
  <img src="images/beach.png" alt="Serenity Pointe" style="width:100%;">
  <div class="centered">Personal Stories</div>
</div></div>


    
    <div align="center" class="content_1">
 <b> Jean G's Story</b> <br>
"I gave up hope of ever becoming sober. I decided to drink myself to death. <br>
It didn't work. After destroying my kids' lives and losing our home, car and my job,<br>
I became temporarily sober for periods of 6 months or so -- never lasting more than a year on the wagon."
<br>
<br>
<b>Judy L's Story</b><br>
I was blessed with Alateen fellowship at a recent Al-Anon area conference and they have encouraged 
<br>me to act on my concerns for my children's future by hugging them, loving them, and sharing recovery with them today.
<br>
<br>
<b>Tall Paul's Story</b><<br>
What I have come to believe is that it doesn't matter how old you are, how much you drank or used, <br>
the color of your skin, what you believe or don't believe, you can practice these principles of life.
<br>
<br>
<b>Peggy's Story</b><br>
If you read this and you think you have a problem, chances are you do. Please do not let your fear and your denial <br>
get in the way of your recovery. I did not live to live life without drugs. I lived so that I could help others like myself.
<br>
<br>
<b>Jean's Story</b><br>
Believe me, I tried to blame everyone and everything I knew for my drinking; the death of my child, <br>
the ex-husbands, etc. Everyone was responsible for my drinking except me.
<br>
<br>
<b>Don's Story</b><br>
That started the last run. I was in a black out off and on for the next 90 days. The rent check bounced, I lost $1,000.
<br>
I woke up and looked in the mirror and knew that it was life or death.
<br>
<br>
<b>Valerie's Story</b><br>
I stopped eating and finally ended up in ER a couple of times before they diagnosed the liver failure and the rest.<br> 
I was dying. The doctors just gave up and shipped me off to a county hospital to die. There I was given Last Rites twice.
<br>
<br>
<b>Alethea</b><br>
"The night I celebrated my 6th (sobriety) anniversary I picked up a drink."
<br>
Buckshot's Legacy<br>
"Buckshot was just a man no hero just an Alcoholic with a love for the program and for his fellow man."
<br>
<br>
<b>Carter</b><br>
"I'm starting all over again today... I am so disappointed in myself because I drank yesterday."
<br>
<br>
<b>Divorce: The Risks of Staying</b><br>
"There are a lot more risks in staying with the alcoholic today than there were when the founders were around."
<br>
<br>

</div>
<div align=center class="content">
<b><i>Family in Recovery</i></b><br>
<br>
<b>Maggie</b><br> 
"The recovery of the whole family has been the greatest gift of my life."
<br>
<br>
<b>Gary</b><br>
"This disease of alcoholism is too cunning baffling and powerful to let me ever take a rest or sit on my laurels for too long."
<br>
<br>
<b>Ginna</b><br>
"I knew in the midst of my sheer insanity that I had just had a spiritual experience and that I would be okay."
<br>
</div>
<div align=center class="content_2">
Visitors to this site share their experience strength and hope with stories of their person journey in recovery.
<br>
<br>
<b>He Was Killed Night Before Last</b><br>
"They let him drive away from there three sheets to the wind more times than they could count."
<br>
<br>
<b>I Had to Look Within</b><br>
"I had to look within deep within my soul to make sense out of a senseless act."
<br>
<br>
<b>Jill</b><br>
"I lay there waiting and I prayed for God to please let me die. I just needed out. I blacked out at that point."
<br>
<br>
<B>Left Behind</b><br>
"I hope and pray that he comes around. But after my amends had been made there was little else I could do."
<br>
<br>
<b>Mary A</b><br>
"I had read the book and knew it all. I didn't need anyone to tell me what I had to do."
<br>
<br>
<b>Mary B.</b><br>
"Living life on life's terms and having to do everything sober for the first time was scary."
<br>
<br>
<b>Mike K.</b><br>
"This time we are recovering as a family. They understand better as do I that we need to recover together."
<br>
<br>
<b>Peter S.</b><br>
"The lovable are never forgotten and the lovable inspire long after they are gone."
<br>
<br>
<b>Rosemary</b><br>
"Something happened to me that night.
<br>
I experienced a peace that I had never known in my life or if I had experienced it before, I didn't remember it."
<br>
<br>
<b>SoberChild's Story</b><br>
I started to drink on a regular bases when I was 13. The popular kids would hang out with me because I could get cigarettes and booze.
<br>
<br>
<b>Staying Married Takes Work</b><br>
"Unfortunately in today's world of "fix it quick" mentality divorce is too quickly chosen."
<br>
Steve G.<br>
"I do not have influential friends or fancy things. But if I had to give up my sobriety to get all of that back I don't want it."
<br>
<br>
<b>Sue Ann</b><br>
"I used to think that March 26 1975 was the day that I died."
<br>
<br>
<b>Suicide Dream</b><br>
"I had created my own hell then tried to run away from it."
<br>
<br>
<b>The Butterfly and Al-Anon</b><br>
"When most of us come to Al-Anon we are similar to the butterfly. There was a time when we too were unlovely creatures."
  <br>
  <br>
  </div>
       
