    <div class="image"><div class="container">
  <img src="images/beach.png" alt="Serenity Pointe" style="width:100%;">
  <div class="centered">Services</div>
</div></div>


    
    <div align="center" class="content_1">    <h2> <font color="#333">Services</font></h2>   

  <center>Culpa et commodo anim incididunt do consequat culpa anim reprehenderit amet ea aute quis. Id sint laborum magna consectetur reprehenderit excepteur ut. Sint nisi reprehenderit nulla in adipisicing magna ex nulla cupidatat velit. Reprehenderit consequat qui deserunt amet qui. Elit Lorem consequat irure sint do. Ullamco exercitation dolor culpa adipisicing excepteur pariatur esse aliqua commodo amet magna.
  </center>
       

    </div>

