    <div class="image"><div class="container">
  <img src="images/beach.png" alt="Serenity Pointe" style="width:100%;">
  <div class="centered">Staff</div>
</div></div>



    <div align="center" class="content_1">
      <img class="mobile_image" width="75%" align="center" src="images/staff.jpg">
    </br>
<p> Our program treats patients aged 18 and older in both residential and outpatient settings.<br>
Our staff is specially trained in the Foundations Recovery Network treatment model to address<br>
the complex needs of individuals with co-occurring disorders and to treat the whole person in a comprehensive way.</p>
<br><p>
We support patients with an integrated, multi-disciplinary team. Primary therapists, consulting <br>
physicians, residential therapists, nurses, group leaders and others are all part of a patient’s<br> 
treatment team. This team meets weekly to discuss the progress of each patient and to plan for <br>
his or her stability and recover</p>

       

    </div>
<div align="center" class="content">
<h1>Speak with an Admissions Coordinator <a id="orange_link" href="tel:1-555-555-5555">555-555-5555</a></h1>
