    <div class="image"><div class="container">
  <img src="images/beach.png" alt="Serenity Pointe" style="width:100%;">
  <div class="centered">Videos</div>
</div></div>


  <div align="center" class="content">
            <img width="224" height="150" align="middle" src="images/thumb_nails/bear.png">
<p align=center>Listen to Michael "Bear" Charles's Testomonial about <br> Serenity Pointe and how this place has helped him 
<a target=_blank href="https://youtu.be/E3siE8L9jvA"><font class="btn_box">Click Here </font></a> </p><br>   
  </center>
             <img width="224" height="150" align="middle" src="images/thumb_nails/unknow.png">
<p align=center>Listen to "Insert Name" Testomonial about <br> Serenity Pointe and how this place has helped him 
<a target=_blank href="https://youtu.be/GZACCuD3log"><font class="btn_box">Click Here </font></a> </p><br>   
  </center>
       
      <img width="224" height="150" align="middle" src="images/thumb_nails/aaron.jpg">
<p align=center>Listen to Aaron's Testomonial about <br> Serenity Pointe and how this place has helped him 
<a target=_blank href="https://youtu.be/-CFtN2WoFVs"><font class="btn_box">Click Here </font></a> </p><br>   
  </center>
             <img width="224" height="150" align="middle" src="images/thumb_nails/christy.png">
<p align=center>Listen to Christy's Testomonial about <br> Serenity Pointe and how this place has helped her 
<a target=_blank href="https://youtu.be/nDvE1m11N7c"><font class="btn_box">Click Here </font></a> </p><br>   
  </center>
       

    </div>
