body{
    background: url(/images/nature.jpg); 
    overflow: hidden;

}

.nav{
    background-color: rgba(51, 51, 51, 0.5);
    overflow: hidden;
    
    box-shadow: inset 0px 5px 18px 5px;
    color: #fc732e;
}

.nav a{
    float: left;
    color: #ef580e;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
    font-size: 23px;
    width: 30%
}

.nav a:hover{
    background-color: rgb(175, 135, 24);
    color: rgba(0, 1, 2, 0.76);
    width: 30%;
    opacity: 0.7;
}

.nav a:active{
    background-color: #ddd;
    color: white;
    width: 30%;
}
